/Day1/GreensAddress/nbproject/private/
/Day1/GreensAddress/build/
/Day1/CompanyDetails/nbproject/private/
/Day1/CompanyDetails/build/
/Day1/MyPhone/nbproject/private/
/Day1/MyPhone/build/
/Day1/LanguageDetails/nbproject/private/
/Day1/LanguageDetails/build/